.bg_image {
    -fx-background-image: url("../resources/images/bg/jghfd.jpg");

    -fx-background-size: cover;
}
.btt_on {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_home {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_continue {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_return {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_playagain {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_edit {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_profile {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_settings {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_start {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_playerVsAI {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_playerVsPlayer {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_concede {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_redo {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_stop {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.btt_login {
    -fx-background-color: linear-gradient(#63f39a94, #92ee8d);
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.btt_login:hover {
    -fx-opacity: 0.9;
}


.textfield_name {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}.textfield_id {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}
.textfield_national {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}

.btt_changelevel {
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-focus-color: Transparent;
    -fx-faint-focus-color: Transparent;
    -fx-background-radius: 10;
}

.btt_gridpane_3X3 {
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-focus-color: Transparent;
    -fx-faint-focus-color: Transparent;
    -fx-background-radius: 10;
}

.btt_gridpane_6X6 {
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-focus-color: Transparent;
    -fx-faint-focus-color: Transparent;
    -fx-background-radius: 10;
}

.btt_history {
    -fx-background-color: rgba(250, 255, 250, 0.826); /* whiter mint with 50% opacity */
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: #2d3b2d; /* soft dark green text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
    -fx-effect: dropshadow(gaussian, black, 10, 0.3, 4, 4);

}